.imageGridColor figure {
    display: inline-block;
}

.imageGridColor figure.black {
  background-color: black;
}

.imageGridColor figure.blue {
  background-color: blue;
}

.imageGridColor figure.green {
  background-color: green;
}

.imageGridColor img {
  opacity: .5;
  display: block; /*This is super important. If this is missing, the image will have a bar of extra color without any opacity effects on it below the image */
}

.imageGridColor figure:hover img {
  opacity: 1;
}

/* Put text on top of the images */
.imageGridColor {
  position: relative;
}

.imageGridColor figure {
    max-width: 30em;
    margin: 0 auto;
    position: relative;
}
.imageGridColor figcaption {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 25%;
}

 /*
 * INLINE-BLOCK VERSION
 * This version is kind of finicky and I don't like it as much as flex, but it is much more universal for browsers
 */

 /*.imageGridColor figure {
   display: inline-block;
   width: 33%;
 }*/

 /*
 * FLEX VERSION
 * I prefer flex as it is a little more air-tight, the browser takes care of more, and is much more flexible. However, it isn't as widely accepted (iOS 8 requires a vendor prefix, etc.)
 */

 .imageGridColor {
   display: flex;
   align-items: center;
   justify-content: center;
 }
