.textLines h3 {
  text-align: center;
}
.textLines hr {
  border: 0;
  border-top: 1px solid black;
  width: 30%;
  margin: .25em auto; /* Adjust the spacing of the lines to the text by applying a margin to the hr */
}

.textLines span {
  text-align: center;
  display: block;
}
.textLines h3.border {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: .5em 0; /* Adjust the spacing of the lines to the text by tweaking the padding on the h3 text */
  display: inline-block;
}
